<div class="app-container">
    @if(this.weatherService?.isLoading){
      <div class="weather-container">
        <div id="loading-spinner">
          <div class="spinner"></div>
          <p>&nbsp;Loading...</p>
      </div>
      </div>
    }
    @else {
      <div class="weather-container">
        <div class="left-container">
          <app-left-container></app-left-container>
      </div>
      <div class="right-container">
        <app-right-container></app-right-container>
      </div>
      </div>
    }
</div>